/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {

}

body {
    background-color: #252525;
}


h1 {
    text-align: center;
    color: #ebebeb;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #ebebeb;
    text-align: center;
    font-size: 2em;
}

p {
    color: #ebebeb;
    text-align: center;
    font-size: 1.5em;
    font-family: 'monsterrat', sans-serif;
}

ul {
    list-style-type: none; /* fjerner symboler for hvert punkt */
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #202020; 
}


li {
    float: left; 
    text-align: center;
    
}

li a {
    display: block; /* elementet opføre sig som en blok */
    width: 8.8em; 
    color: #fff;
    padding: 0.5em 0.1em; /* padding på vandrette og lodrette flader */
    text-decoration: none; 
}

li a:hover { 
    background-color: #ccc;
    color: #000;
}

img {
    height: auto;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
